<h2>
	Leaderboard
</h2>

<%= link_to 'Month', leaderboard_path(:standings => 'month'), :class => 'btn btn-success btn-xs' %>
<%= link_to 'Year', leaderboard_path(:standings => 'year'), :class => 'btn btn-success btn-xs' %>
<%= link_to 'All Time', leaderboard_path(:standings => 'all_time'), :class => 'btn btn-success btn-xs' %>
